body {
  text-align: center;
}

.Flag {
  background-color: cornflowerblue;
  display: block;
  margin-left: 0.3%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  width: 25%;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
}

.Img {
  background-color: cornflowerblue;
  display: block;
  margin-left: auto;
  margin-right: 0.3%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  width: 25%;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
}

.Holiday {
  background-color: crimson;
  display: block;
  margin-left: 0.3%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  width: 25%;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  clear: both;
}

.Weather {
  background-color: khaki;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  clear: top;
}

.Time {
  background-color: aquamarine;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  clear: top;
}

.Searchbar {
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 25%;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  clear: top;
}

.Currency {
  background-color: blueviolet;
  display: block;
  margin-left: auto;
  margin-right: 0.3%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  width: 25%;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  clear: right;
}

footer {
  background-color: darkgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 1%;
  width: 97%;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  clear: both;
}