.Flag {
  grid-area: flag;
  overflow: auto;
}

.Flag img{
  width: 60%;
  height: auto;
}

.Searchbar {
  grid-area: searchbar;
  text-align: center;
  padding-top: 30vh;
}

.search{
  border: 1px solid grey;
  border-radius: 1px;
  height: 25px;
  width: 75%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.select{
  width: 20%;
  height: 50%;
}
/*
.Img {
  background-color: cornflowerblue;
  grid-area: img;
  border: 2px solid black;
  overflow: auto;
}
*/

#achtergrond {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Currency {
  background-color: lightgray;
  opacity: 0.8;
  font-weight: bold;
  grid-area: currency;
  border: 2px solid black;
  overflow: auto;
}

#first {
  float: left;
  width: 30%;
}

#second {
  float: left;
  width: 30%;
}

#third {
  float: left;
  width: 30%;
}

.Holiday {
  background-color: lightgray;
  opacity: 0.8;
  grid-area: holidays;
  border: 2px solid black;
}

.Weather {
  background-color: lightgray;
  opacity: 0.8;
  grid-area: weather;
  border: 2px solid black;
}

.Time {
  background-color: lightgray;
  opacity: 0.8;
  grid-area: time;
  border: 2px solid black;
}

footer {
  opacity: 0.8;
  background-color: darkgray;
  grid-area: footer;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'flag flag searchbar searchbar none none'
    'holidays holidays weather weather currency currency'
    'holidays holidays time time currency currency'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  /*
  padding: 10px;
  */
  text-align: center;
}